<div class="game-container">
  <app-nav></app-nav>
  <div class="restart-wrapper">
      <button class="restart">Restart</button>
      <div class="options-wrapper">
        <div class="attemps-wrapper">
          <h3>Attemps</h3>
          <span>0</span>
        </div>
        <div class="time-wrapper">
          <h3>Time</h3>
          <span>0:00</span>
        </div>
      </div>
  </div>
  <div class="cards-wrapper">
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
    <div class="card">
      <div class="front face"><i class="fal fa-question"></i></div>
      <div class="back face"><i class="fal fa-star"></i></div>
    </div>
  </div>
</div>