@use '../../shared/sass/responsive.scss';

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  perspective: 100vw;
  .cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
    height: 70vh;
    .card{
      position: relative;
      margin: 1rem;
      width: calc((40rem / 4) - 2rem);
      height: calc((70vh / 4) - 2rem);
      transform-style: preserve-3d;
      box-shadow: 0 1rem -.5rem #000;
      cursor: pointer;
      transition: .5s;
      .face{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        border-radius: .2rem;
        & > i{
          color: #fff;
          font-size: 2rem;
        }
      }
      .front{
        background: linear-gradient(309deg, #FF5403, #FF7800);
      }
      .back{
        background: #FF9300;
        transform: rotateY(180deg);
        transition: .5s;
      }
    }
    .rotate{
      transform: rotateY(180deg);
      transition: .5s;
    }
    .equality{
      transform: rotateY(180deg);
      transition: .5s;
      .back{
        filter: brightness(80%);
        transition: .5s;
      }
    }
  }
  .restart-wrapper{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    .restart{
      width: 10rem;
      height: 3.5rem;
      outline: none;
      text-transform: uppercase;
      font-size: 1.1rem;
      background: #d94703;
      background: linear-gradient(309deg, #FF5403, #d94703);
      color: #fff;
      border: 1px solid #fff;
      border-radius: .5rem;
      cursor: pointer;
      &:hover{
        filter: brightness(105%);
      }
    }
    .options-wrapper{
      display: flex;
      .attemps-wrapper, .time-wrapper{
        display: flex;
        background: #d94703;
        margin: .1rem;
        padding: 1rem;
        border-radius: .2rem;
        & > h3, & > span {
          text-transform: uppercase;
          width: 10rem;
          text-align: center;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 500;
        }
        & > span{
          //text-align: end;
          width: 5rem;
        }
      }
    }
  }
}

@include responsive.game();