$background: #F7F6F2;
$color1: #F0E5CF;
$color2: #000957;
$color3: #C8C6C6;
$color4: #4B6587;

.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(309deg, #fff1de, #ffe3be);
  overflow: hidden;
  .auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    box-shadow: 0 0 60px -10px #000;
    .signin-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
      background: linear-gradient(309deg, #FF5403, #FF7800);
      & > h2{
        margin-top: -7.8125vw;
        margin-bottom: 7.8125vw;
        color: #fff;
        font-size: 4.5vw;
      }
      .google{
        position: relative;
        width: 15.625vw;
        height: 3.646vw;
        background: #fff;
        color: #767676;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        font-size: 1.05vw;
        font-weight: 500;
        box-shadow: 0 5px 10px -6px #000;
        cursor: pointer;
        &:hover{
          filter: brightness(90%);
        }
        & >  img {
          width: 1.563vw;
          height: 1.563vw;
          margin-right: 0.7292vw;
        }
      }
      .skip-ref{
        color: #ffe3be;
        margin: 1vw;;
        font-size: 1vw;
        text-decoration: underline #ffe3be;
        cursor: pointer;
        &:hover{
          color: #FFE3BEBB;
        }
      }
    }
    .ranking-wrapper{
      width: 60%;
      height: 100%;
    }
  }
}