@use '../../shared/sass/responsive.scss';

.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  .auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    box-shadow: 0 0 5rem -1rem #000;
    .signin-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
      background: linear-gradient(309deg, #FF5403, #FF7800);
      & > h2{
        margin-top: -2.8125rem;
        margin-bottom: 2.8125rem;
        color: #fff;
        font-size: 4.5rem;
      }
      .google{
        position: relative;
        width: 15.625rem;
        height: 3.646rem;
        background: #fff;
        color: #767676;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .2rem;
        font-size: 1.05rem;
        font-weight: 500;
        box-shadow: 0 .5rem 1rem -0.6rem #000;
        cursor: pointer;
        &:hover{
          filter: brightness(90%);
        }
        & >  img {
          width: 1.563rem;
          height: 1.563rem;
          margin-right: 0.7292rem;
        }
      }
      .skip-ref{
        color: #ffe3be;
        margin: 1rem;
        font-size: 1rem;
        text-decoration: underline #ffe3be;
        cursor: pointer;
        &:hover{
          color: #FFE3BEBB;
        }
      }
    }
    .ranking-wrapper{
      width: 60%;
      height: 100%;
    }
  }
}

@include responsive.signin();