@mixin signin {
  @media (max-width: 768px) {
    .signin-container{
      .auth-container{
        flex-direction: column;
        .signin-wrapper{
          width: 100%;
          height: 50%;
          & > h2{
            font-size: 5vh;
          }
          .google{
            width: 17.773vh;
            height: 4.148vh;
            font-size: 1.05vh;
            & >  img {
              width: 1.563vh;
              height: 1.563vh;
              margin-right: 0.7292vh;
            }
          }
          .skip-ref{
            margin: 1vh;
            font-size: 1.1vh;
          }
        }
        .ranking-wrapper{
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}

@mixin game {
  @media (max-width: 768px) {
    .game-container{
      .restart-wrapper{
        .restart{
          width: 10.5vh;
          height: 8vw;
          font-size: 1.1vh;
        }
        .options-wrapper{
          .attemps-wrapper, .time-wrapper{
            & > h3, & > span{
              font-size: 1.5vh;
              margin: 0 2vh;
            }
          }
        }
      }
      .cards-wrapper{
        width: 100vw;
        gap: 10px;
        .card{
          width: calc((100vw / 6) - 10px);
          height: calc((70vh / 3) - 10px);
        }
      }
    }
  }
}

@mixin nav {
  @media (max-width: 768px){
    .nav-container{
      .title{
        font-size: 2vh;
      }
      & > ul{
        & > li{
          font-size: 1.3vh;
          a{
            font-size: 1.3vh;
          }
        }
      }
    }
  }
}

@mixin table {
  @media (max-width: 768px){
    .table-container{
      table{
        tr{
          td, th{
            font-size: 1.5vh;
          }
        }
      }
    }
  }
}

@mixin win {
  @media (max-width: 768px) {
    .win-container{
      .popup{
        height: 40vh;
        width: 80vw;
        & > h1{
          font-size: 4vh
        }
        & > div{
          label{
            font-size: 2vh;
            margin: 2vh;
          }
        }
        & > button{
          width: 10.5vh;
          height: 8vw;
          font-size: 1.1vh;
        }
      }
    }
  }
}