<div class="ranking-container">
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Speed</th>
        <th>Attempts</th>
      </tr>
      <tr>
        <td>1</td>
        <td>User Name</td>
        <td>0:00</td>
        <td>0</td>
      </tr>
      <tr>
        <td>2</td>
        <td>User Name</td>
        <td>0:00</td>
        <td>0</td>
      </tr>
      <tr>
        <td>3</td>
        <td>User Name</td>
        <td>0:00</td>
        <td>0</td>
      </tr>
      <tr>
        <td>4</td>
        <td>User Name</td>
        <td>0:00</td>
        <td>0</td>
      </tr>
    </table>
</div>